*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 75px;
    background:linear-gradient(to right,#ff7700,#ff4800); 
    box-shadow: 0 2px 2px  rgba(0,0,0,.4);
}
nav ul {
    left: 35%;
    display: inline-flex;
    position: relative;
    list-style:none;
    bottom: 70px;
}
nav ul li{
    margin: 10px;
    background-color: transparent;
    color: white;
}
nav ul li a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-family:italic;
    font-weight: bold;
}
nav ul li a:hover{
    color: white;
    transition: .3s;
    text-decoration: none;
}
.logo{
    padding-left: 80px;
}

.space{
    position: relative;
    left: 20%;
}
.cart{
    padding-left: 15px;
    padding-top: 8px;
    border-image-width: 10px;
}
.title{
    position: relative;
    left: 80px;
    top: 50px;
    font-family:Brush Script MT ;
}
.food img{
    padding-left: 600px; 
    padding-top: 100px;
}
.cart{
    padding-left: 15px;
    padding-top: 8px;
    border-image-width: 10px;
}

.title{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    margin-left: 30px;
    height: 200px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    margin-left: 31px;
    margin-right: 25px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    align-items: flex-start;
    justify-content:left;
    border-radius: 10px;
    height: 250px;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
	z-index: 2;
}

.card_img{
    height: 250px;
    width: 350px;
}

.bir{
    position: absolute;
    top: 240px;
    left: 150px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.ann{
    position: absolute;
    top: 240px;
    left: 570px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.pri{
    position: absolute;
    top: 240px;
    left: 990px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.bottom-bar{
    position: absolute;
    margin-top: 10%;
    margin-bottom: 0%;
    background-color: rgb(27, 24, 24);
    width: 100%;
    height: 40%;
}
.bottom-bar h1{
    margin-left:7%;
    color: white;
}
.about-still-hungry{
    margin-top:2%;
    margin-left: 10%;
}
.about-still-hungry h5{
color: #f3f1f1;
}
.about-still-hungry a{
    text-decoration: none;
}
.about-still-hungry h6{
    color: #f3f1f1;
}
.hungryverse{
    margin-top:-13% ;
    margin-left:30%; ;
}
.hungryverse h5{
    color: #f3f1f1;
}
.hungryverse a{
    text-decoration: none;
}
.hungryverse h6{
    color: #f3f1f1;
}
.for-restarunts{
    margin-top:-9.3% ;
    margin-left:50%; ;
}
.for-restarunts h5{
    color: #f3f1f1;
}
.for-restarunts a{
    text-decoration: none;
}
.for-restarunts h6{ 
    color: #f3f1f1;
}
.Learn-more{
    margin-top:-7.6% ;
    margin-left:70%; ;
}
.Learn-more h5{
    color: #f3f1f1;
}
.Learn-more a {
    text-decoration: none;
}
.Learn-more a h6{
    color: #f3f1f1;
}