*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 75px;
    background:linear-gradient(to right,#ff7700,#ff4800); 
    box-shadow: 0 2px 2px  rgba(0,0,0,.4);
}
nav ul {
    left: 35%;
    display: inline-flex;
    position: relative;
    list-style:none;
    bottom: 70px;
}
nav ul li{
    margin: 10px;
    background-color: transparent;
    color: white;
}
nav ul li a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-family:italic;
    font-weight: bold;
}
nav ul li a:hover{
    color: white;
    transition: .3s;
    text-decoration: none;
}
.logo{
    padding-left: 80px;
}

.space{
    position: relative;
    left: 20%;
}
.cart{
    padding-left: 15px;
    padding-top: 8px;
    border-image-width: 10px;
}
.title{
    position: relative;
    left: 80px;
    top: 50px;
    font-family:Brush Script MT ;
}
.food img{
    padding-left: 600px; 
    padding-top: 100px;
}
.cart{
    padding-left: 15px;
    padding-top: 8px;
    border-image-width: 10px;
}

*{
    margin: 0px;
    padding: 0px; 
}

.Title{
    font-family:  cursive;
    font-size: 100px;
    margin-left: 100px;
}

.first3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card{
    position: absolute;
    height: 380px;
    left: 50px;
    width: 25%;
    display: inline-block;
    background-color:#ffdab9 ;
    border-radius: 10px;    
    margin: 40px;
    box-shadow: 2px 2px 5px black;
}

.image img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}

.title1{
    text-align: center;
    font-family: cursive;
    font-size: 11px;
}

.des{
    text-align: center;
    padding: 10px;
}

.des p{
    font-family: cursive;
    text-align: left;
}

.des a button{
    position:relative;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    border-spacing: 5px;
    color: white;
    font-family: cursive;
}

.des a button:hover{
    background-color: black;
    color: #ff7700;
    cursor: pointer;
}

/* LUNCH */

.card1{
    position: absolute;
    height: 380px;
    width: 25%;
    display: inline-block;
    background-color:#ffdab9 ;
    border-radius: 10px;    
    margin: 40px;
    box-shadow: 2px 2px 5px black;
}

.image1 img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title2{
    text-align: center;
    font-family: cursive;
    font-size: 11px;
}

.des1{
    text-align: center;
    padding: 10px;
}

.des1 p{
    font-family: cursive;
    text-align: left;
}

.des1 a button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.des1 a button:hover{
    background-color: black;
    color: #ff7700;
    cursor: pointer;
}

/*DINNER*/

.card2{
    position: relative;
    height: 380px;
    left: 430px;
    width: 25%;
    display: inline-block;
    background-color:#ffdab9 ;
    border-radius: 10px;    
    margin: 40px;
    box-shadow: 2px 2px 5px black;
}

.image2 img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title3{
    text-align: center;
    font-family: cursive;
    font-size: 11px;
}

.des2{
    text-align: center;
    padding: 10px;
    font-family: lucida;
}

.des2 p{
    font-family: cursive;
    text-align: left;
}

.des2 a button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.des2 a button:hover{
    background-color: black;
    color: #ff7700;
    cursor: pointer;
}
