*{
    margin:0;
    padding:0;
    }
    .Home{
        height: 100%;
        width: 50%;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(side-image-login.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
    }
    .back-text{
        position: relative;
        left: 10%;
        top: 30%;
        color:#ff7700;
        text-shadow: 2px 2px 2px black;
        font-size: 40px;
    }
    .back-text .sub-text{
         font-size: 30px;
         color: white; 
    }
    .sub-para{
        font-size: 20px;
        width: 170px;
        color: white;
    }
    .form{
        box-shadow:2px 2px 2px 2px rgba(0,0,0,.6);
        width: 400px;
        height: 650px;
        position: relative;
        left: 125%;
        top: -22%;
        background: #fff;
        padding: 5px;
        border-radius: 10px;
    }
    h2{
        margin: 30px;
        text-align: center;
        height: 20px;
        font-family: Garamond, serif;
    }
    .social-icon{
        position: relative;
        left: 10%;
        margin: 10px;
        text-align: center;
    }
    .social-icon img{
        width: 30px;
        margin: 0 12px;
        box-shadow:0 0 20px 0 #7f7f7f3d ;
        cursor: pointer;
        border-radius: 50%;
    }
    .input-group{
        top: 100px;
        position: absolute;
        width: 280px;
        transition: .5c;
    }
    .input-field{
        width: 120%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline:  none;
        background: transparent;
    
    }
    .input-field1{
        width: 50%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline:  none;
        background: transparent;

    }
    .submit-bnt{
        position: relative;
        left: 0%;
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background:linear-gradient(to right,#ff7700,#ff0b17);
        border: 0;
        left: 10%;
        outline: none;
        border-radius: 30px;
    
    }
    .register-bnt{
    text-decoration: none;
        color: blue;
        height: 10px;
        width:20px;
        background: transparent;
        border: transparent;
        cursor: pointer;
        margin:30px;
        left: 70%;
        top: 10%;
        position: relative;
    }
    .check-box{
        margin:30px 10px 30px 0;;
    }
    .otp-bnt{
        color:black;
        text-decoration: none;
        left:10%;
        padding: 5px 20px;
        cursor: pointer;
        border: 0;
        outline: none;
        background:transparent;
        border-radius:10px;
        position: relative;
    }
    span{
    bottom: 120px;
    color: #777;
    font-size:12px;
    position: absolute;
}
    #Register{
        left: 10%;
    }
    .side-img{
        background-color: black;
        width: 90px;
        height: 90px;
    }
    #message {
        background:transparent;
        color: #000;
        position: relative;
        left: 0%;
      }
      
      #message p {
        font-size: 12px;
      }
      
      /* Add a green text color and a checkmark when the requirements are right */
      .valid {
        color: green;
      }
      
      .valid:before {
        position: relative;
        left: -35px;
      }
      
      /* Add a red text color and an "x" icon when the requirements are wrong */
      .invalid {
        color:red;
        font-weight: lighter;
      }
      
      .invalid:before {
        position: relative;
        left: -35px;
      }
