<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <title>STILL HUNGRY</title>
</head>
<body> 
    <nav>
        <div class="logo">
            <img src="logo1.jpeg" width="100" height="80">
        </div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SMILEY CARD</a></li>
            <li><a href="#">TODAY'S SPECIAL</a></li>
            <li><a href="#">DELIVERY</a></li>
            <li><a href="#">CELEBRATE</a></li><span class="space"></span>
            <li class="login"><a href="#">LOGIN</a></li>
            <li class="register"><a href="#">SIGN UP</a></li>
            <div class="cart">
                <img src="shopping-cart.png" width="30" height="30">
            </div>
        </ul>
    </nav>
    <p class="head1" style = "font-family: poiret one,cursive;">
        About Us
    </p> 
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="content">
                    <h3 style="font-family: cursive;">Hey there.....!</h3>
                    <p>
                        We welcome you to sit back,unwind and appreciate the lovely sights and hints of the ocean while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients.STILL HUNGRY legacy comes from The parent Restaurant which was built up in 1963.STILL HUNGRY was worked for people in general and has advanced into a combination between exquisite chic and contemporary fine charge.Enjoy our dazzling dishes and make the most of your eating background with us!
                    </p>
                </div>
            </div>
            <div class="image-section">
                <img src="static/images/restraunt.jpg">
            </div>
        </div>
    </div>
    <div class="content1">
        <h3 style="font-family: cursive;">Hey there.....!</h3>
        <p>
            We welcome you to sit back,unwind and appreciate the lovely sights and hints of the ocean while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients.STILL HUNGRY legacy comes from The parent Restaurant which was built up in 1963.STILL HUNGRY was worked for people in general and has advanced into a combination between exquisite chic and contemporary fine charge.Enjoy our dazzling dishes and make the most of your eating background with us!
        </p>
    </div>
    <div class="connect">
        <h2>CONNECT WITH US</h2>
        <a href="https://www.instagram.com/">
            <img src="static/images/insta.png" height="40" width="40">
        </a>
        <a href="https://www.facebook.com/">
            <img src="static/images/face.png" height="50" width="50">
        </a>
        <a href="https://www.twitter.com/">
           <img src="static/images/twit.png" height="40" width="40">
        </a>
    </div>
    <div class="contact">
        <h2>CONTACT US</h2>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">
            <img src="static/images/mail.png" height="40" width="60">
        </a>
    </div>
</body>
</html>